h5 {
	margin-top: 0 !important;
}

.negative {
	color: #db2828 !important;
	font-weight: bold;
}

.positive {
	color: #21ba45 !important;
	font-weight: bold;
}

.pusher {
	margin-left: 19em;
}

.pusher > .ui.inverted.segment {
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar {
    min-width: 19em;
}

.title-bar {
	display: none;
}

.ui.checkbox > label {
	color: white !important;
	padding-bottom: 1em;
}

.ui.segment > h4 {
	text-align: center;
}

.ui.three.column > .column {
	padding-left: 0;
}

.warn-msg {
	padding-top: 1em;
	color: red;
}

#mobile-table {
	display: none !important;
}

@media screen and (max-width: 1024px) {
    .pusher {
		margin-left: 0;
    }

    #sidebar {
		display: none;
    }
}

@media screen and (max-width: 768px) {
    table thead {
    	display: none !important;
    }

	.stackable div.column {
    	display: none !important;
    }
    
	.title-bar {
		display: block;
	}

	#full-table {
		display: none !important;
	}

	#mobile-table {
		display: block !important;
	}
}
